# Configuración del Proyecto
ENVIRONMENT=development


# Base de Datos Vectorial

# Ruta donde ChromaDB guardará los vectores localmente
CHROMA_DB_PATH=./chroma_data


# Inteligencia Artificial
# Nombre del modelo Open Source de HuggingFace
AI_MODEL_NAME=sentence-transformers/all-MiniLM-L6-v2